/*Reihenfplge: index, Karten, Aktivitaten, Theater, Kaleder , events, contact us*/

/*---------topbar--stuff-------*/
.topbars{
    margin-top: 70px;
    border:  transparent;
    background-color: transparent;
    position: relative; /* Ensures the image is positioned relative to this container */
    padding: 10px;
}

.topbar:hover{background-color: cadetblue;}

.topbars button:first-of-type{margin-left: 40px;}

.topbar_img{
    width: 100px;
    position: relative;
    top: 10px; /* Distance from the top of the container */
    right: 10px; /* Distance from the right of the container */
}

.button{
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    height: 70px;
    width: 150px;

    border-radius: 10px;
    border: 1px solid black;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    background-color:rgb(255, 212, 111);
    border: 1px solid rgb(201, 148, 0);
    
    font-size: 20px;
}
/*---------topbar--stuff-------*/

/*-------------------STARTSEITE---------------------*/
.banner{
    display: flex;
    border: 2px solid black;
}

.mainpic{
    width: 70%;
    margin-left: 15%;
}

.index {background-color: rgb(255, 199, 69);}
.index header {background-image: url("../Bilder/Balkenbild.jpg");
        background-repeat: no-repeat;
        background-position: center;}
.index h2 {background-color: orange;
    font-size: 32px;}
.index h3 {text-decoration: underline orange;
    font-size: 28px;}
.index p {font-size: 25px;}
/*-------------------STARTSEITE---------------------*/

/*-------------------KARTEN-SEITE-------------------*/
.karte_page{
    background-color:rgb(255, 212, 111);    
}

/*----------------------NEWS-BAR---------------------*/
.karte-news-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
}

.karte-news-container .karte-news-title {
    position: absolute;
    background: #df2020;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    font-weight: bold;
    z-index: 200;
}

.karte-news-container ul {
    display: flex;
    list-style: none;
    margin: 0;
    animation: scroll 25s infinite linear;
}

.karte-news-container ul li {
    white-space: nowrap;
    padding: 10px 24px;
    color: #494949;
    position: relative;
}

.karte-news-container ul li::after {
    content:"";
    width: 1px;
    height: 100%;
    background: #b8b8b8;
    position: absolute;
    top: 0;
    right: 0;
}

.karte-news-container ul li:last-child::after {display: none;}

@keyframes scroll {
    from {transform: translateX(100%);}
    to {transform: translateX(-1083px);}
}
/*----------------------NEWS-BAR---------------------*/
/*-------------------KARTEN-SEITE-------------------*/