.topbars {
    background-color: transparent;
    border: transparent;
}

.button {background-color: transparent;
    border-color: white;
}

body {background-image: url("../Bilder/Trier-Stadt.jpg");
    background-repeat: no-repeat;
    background-position: center;}
article {background-color: rgba(245, 245, 245, 0.536);}
h2 {text-decoration: underline black;}