body{
    background-image: url(../Bilder/HS_Trier.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    text-align: center;
}

h2 {
    background-color: white;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

h3 {text-align: center;}

h4{
    width: auto;
    background-color: rgb(255, 212, 111);
    text-align: center;
    margin-top: 0px;
}

.container{
    width: auto;
    background-color: rgba(240, 248, 255, 0.422);
    gap: 60px;
    padding: 60px;
}

.box{
    width: auto;
    background-color: white;
}

h6 {background-color: rgba(255, 255, 255, 0.666);
font-size: 24px;
padding: auto;}


/*----------RESPONSIVE DESIGN---------------*/
@media screen and (max-width:540px) {
    .topbars {margin: left;}
    body {font-size: 16px;
        background-size: cover;}
    h2 {font-size: 18px;}
    h4 {font-size: 16px;}
    .box {
        width: fit-content;
        align-items: center;
        margin-top: 80px;
    }
    .container {
        display: block; 
        width: fit-content;
        align-items: center;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }
    h6 {font-size: 18px;}
}