.event{
    border: 2px solid black;
    background-color:  rgb(255, 199, 69);
    text-align: center;
    border-radius: 20px;
    width: 550px;
}
#card{
    display: flex;

        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        margin-top: 20px;
}

body{
    background-color: rgb(255, 212, 111);
}

body, html {
    height: 100%; 
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

.middle-column {
    grid-column: 2;
    background-color: lightblue;
}

.right-column {
    grid-column: 3; 
    background-color: lightcoral;
}