body {background-color: rgb(248, 223, 81);
    }
article {background-color: rgba(245, 245, 245, 0.536);}
h2 {text-decoration: underline black;}

.Robin1{
    border: 2px solid cadetblue;
    background-color: teal;
}
.Robin2{
    border: 2px solid teal;
    background-color: cadetblue;
}