body {background-color: rgb(249, 168, 17);
    }
article {background-color: rgba(245, 245, 245, 0.536);}
h2 {text-decoration: underline black;}

.Robin1{
    background-color: rgb(248, 223, 81);
    text-align: left;
    
}
.Robin2{
    
    background-color: rgba(245, 245, 245, 0.536);
    text-align: left;
}
.container {
    display: flex;         
    flex-direction: row;    
    width: 100%;            
}

.boxbild {
    flex: 1;                
    padding: 20px;          
    box-sizing: border-box;
    
}

.boxtext {
    flex: 1;               
    padding: 20px;
    box-sizing: border-box;
    
}