body {
    background-image: url("../Bilder/Trier\ City\ Event.jpg");
}

/*-------------------CALENDAR-----------------------*/
#month_text {
    width: 285px;
    margin-bottom: 20px;
}
.calendar {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    width: 300px; 
    margin-left: 100px;
}
#kalendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 5px;
}
.calendar p {
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 28px;
}
.calendar p {
    background-color: rgb(255, 199, 69);
}
#kalendar p:hover {
    background-color: rgb(190, 190, 190);
    cursor: pointer;
}
.month_bar {
    display: flex; 
}
.month_selector {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    background-color: rgb(255, 199, 69);
    border: 1px solid #ddd;
}
.month_selector:hover {
    background-color: rgb(190, 190, 190);
    cursor: pointer;
}
.circle-paragraph::after {
    content: ""; 
    display: block;
    width: 6px;
    height: 6px;
    background-color: blue; 
    border-radius: 50%; 
    margin: 5px auto 0; 
}
/*-------------------CALENDAR-----------------------*/
/*-------------------UPCOMING-EVENTS----------------------*/
.upcoming_container {
    border: 0.1px solid black;
    height: 380px;
    width: 340px;
    margin-right: 100px;
    text-align: center;
    background-color: rgb(255, 212, 111);

    overflow-y: scroll; /* Adds a vertical scrollbar */
    overflow-x: hidden; /* Prevents horizontal scrolling */

}

/*-------------------UPCOMING-EVENTS----------------------*/

.container {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    margin: 0 auto; 
}
