h1 {
    color: white;
    text-decoration: underline lightsalmon;
    font-size: 32px;
}

p {
    color: white;
    font-size: 20px;
}

body {
  background-image: url("../Bilder/Theaterbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Text {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    text-align: center;
  }
  
.content-box {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.content-container {
    margin: auto;
    width: 500px;
    height: 600px;
    position: relative;
}
  
.content.active {
  opacity: 1; /* Sichtbar */
}

.content {
    opacity: 0; /* Unsichtbar */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Elemente untereinander anordnen */
    justify-content: center;
    align-items: center; /* Zentriert Überschrift, Bild und Text */
    font-size: 20px;
    color: black;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    gap: 10px; /* Abstand zwischen Überschrift, Bild und Text */
    transition: opacity 0.5s ease; /* Sanfte Ein-/Ausblendung */
    border-radius: 50px;
  }
  
  .content h2 {
    margin: 0;
  }
  
  .content img {
    max-width: 80%;
    height: auto; /* Bild wird responsiv */
    border-radius: 8px; /* Optional, für abgerundete Kanten */
  }
  
  .content p {
    text-align: center; /* Text zentrieren */
    font-size: 25px;
    line-height: 1.5;
    color: black;
  }
  
.arrow {
    margin: auto;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
}
  
.arrow:hover {
    background-color: orange;
}

footer {
  background-color: black;      /* Dark background color */
  color: #f1f1f1;              /* Light text color */
  text-align: center;          /* Center the text */
  padding: 10px;               /* Add some padding */
  width: auto;                 /* Full width */
  bottom: 0;            
  margin-top: 50px;
}

/*----------RESPONSIVE DESIGN---------------*/
@media screen and (max-width:540px) {
  h1 {font-size: 18px;}
  p {font-size: 14px;}
  h2 {font-size: 18px;}
  .content {font-size: 16px;}
  .content p {font-size: 16px;}
  .content img {width: 50%;}
  .content-container {
    width: 300px;
    height: 400px
  }
} 