/*---------topbar--stuff-------*/
.topbars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    margin-top: 38px;
    border: 2px solid black;
}

.topbars button:first-of-type {
    margin-left: 20px;
}

.topbars .button {
    margin-left: -15px;
    margin-bottom: -23px;
    height: 70px;
    width: 120px;
    color: black;

    border-radius: 10px;
    border: 1px solid black;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    background-color: rgb(255, 212, 111);
    border: 1px solid rgb(201, 148, 0);


    text-align: center;
    cursor: pointer;
}

.topbars .button:hover {
    background-color: rgb(255, 200, 90);
}

.topbar_img {
    width: 100px;
    height: auto;
    margin-left: auto;
}

.index {
    background-color: rgb(255, 199, 69);
}

header {
    background-image: url("../Bilder/Balkenbild.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.index h2 {
    background-color: orange;
    font-size: 40px;
}

.index h3 {
    text-decoration: underline orange;
    font-size: 30px;
}

.index p {font-size: 25px;}

/*---------topbar--stuff-------*/



@media screen and (max-width:786px) {

    .mobile-container {
        display: block;
        cursor: pointer;
        position: absolute;
        width: 50px;
        background-color: orange;
        height: 50px;
        color: white;
        border-radius: 10px;
        top: 0%;
        right: 0%;
    }

    .hidden {
        display: none !important;
    }

    .banner {
        position: relative;
    }

    .topbars .button {
        position: relative;
        right: 0%;
        flex-direction: column;
        margin-bottom: auto;
    }

    .topbars button {
        float: left;
        height: fit-content;
        color: white;
        text-decoration: none;
        font-size: 17px;
        justify-content: center;
        overflow-x: auto;
    }
}


@media screen and (max-width:1200px) {

    .mobile-container {
        display: block;
        cursor: pointer;
        position: absolute;
        width: 50px;
        background-color: orange;
        height: 50px;
        color: white;
        border-radius: 10px;
        top: 0%;
        right: 0%;
    }

    .hidden {
        display: none !important;
    }

    .topbars .button {
        border-top-right-radius: 0%;
        padding-left: 10%;
        padding-right: 40%;
        margin-bottom: auto;
    }

    .topbar_img {
        position: relative;
    }

    .topbars {
        flex-direction: column;
        background-color: lightslategray;
        border-color: transparent;
        position: fixed;
        display: flex;
        align-items: flex-end;
        padding-right: 0%;
        width: 40%;
        height: fit-content;
        top: 5%;
        right: 0%;
        z-index: 1000;
    }

    .topbars button {
        float: left;
        color: white;
        height: min-content;
        text-decoration: none;
        font-size: 20px;
        justify-content: center;
        overflow-x: auto;
    }


    button:hover {
        background-color: yellowgreen;
        color: black;
    }

}